@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: Poppins;
  background-color: #010824;
  color: #eee;
  font-size: 15px;
  min-height: 100vh;
  /* background-image: repeating-linear-gradient(
      to right,
      transparent 0 49px,
      #eee1 49px 50px
    ),
    repeating-linear-gradient(to bottom, transparent 0 49px, #eee1 49px 50px); */
  &::before {
    position: fixed;
    width: 400px;
    height: 400px;
    content: "";
    background-image: linear-gradient(to right, #d02e23, #7a43b6);
    z-index: -1;
    top: -200px;
    left: calc(50% - 200px);
    border-radius: 50% 50% 0 0;
    pointer-events: none;
    filter: blur(250px);
  }
}

main {
  width: min(1300px, 100%);
  margin: auto;
}
header {
  position: fixed;
  top: 0;
  height: 60px;
  width: min(1300px, 100%);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 100;

  & img {
    width: 50px;
  }
  & .logo,
  nav {
    display: flex;
    gap: 30px;
  }
  & span {
    cursor: pointer;
    &.active {
      color: #e945e3;
      text-shadow: 0 0 5px #7a43b6;
    }
  }
}
section {
  width: min(1300px, 100%);
  margin: auto;
  padding: 50px;
  box-sizing: border-box;
  &.home {
    padding-top: 150px;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    & .content {
      font-family: "MuseoModerno", system-ui;
      & .name {
        font-size: 7em;
        font-weight: bold;
        line-height: 1em;
        & span {
          background-image: linear-gradient(
            to right,
            #7be728,
            #f3265f,
            #7f40ac,
            #7be728
          );
          background-size: 200% auto;
          animation: gradientAnimation 5s linear infinite;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
      }
      & .des {
        color: #eee;
        margin: 30px 0;
        border-left: 0.7em solid #e945e3;
        padding-left: 2em;
      }
      & .social {
        margin: 1rem;
        display: flex;
        gap: 2rem;

        & a {
          font-size: 2.1rem;
          cursor: pointer;
          color: inherit;
        }
        & a:hover {
          color: #e945e3;
        }
      }
      & .download {
        color: #eee;
        font-size: large;
        font-weight: bold;
        text-decoration: none;
        border: 1px solid #eee;
        padding: 20px 30px;
        border-radius: 40px;
        margin-top: 30px;
        display: block;
        width: max-content;
      }
      & a:hover {
        color: #e945e3;
      }
    }
    & .avatar {
      text-align: right;
      & .card {
        display: inline-flex;
        flex-direction: column;
        width: (100%, 400px);
        box-shadow: 0 150 150 #e945e333;
        transition: 0.5s;
        &:hover {
          box-shadow: 0 150 150 #e945e355;
        }
        & img {
          width: 100%;
          height: min(700px, 50vh);
          object-fit: cover;
          object-position: top;
          clip-path: polygon(81% 0%, 100% 41%, 100% 100%, -1000000% 0%);
        }
        & .info {
          background-color: #eee;
          color: #010824;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          text-align: center;
          gap: 20px;
          padding: 20px;
          font-size: 1.2em;
          & div:nth-child(-n + 3) {
            font-weight: bold;
          }
        }
      }
    }
  }
  &.skills {
    & .title {
      text-align: center;
      font-size: 3em;
      font-family: "MuseoModerno", system-ui;
    }
    & .des {
      color: #eee5;
      text-align: center;
      max-width: 500px;
      margin: auto;
    }
    & .list {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      justify-content: space-between;
      gap: 3vw;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 70%;
        height: 70%;
        background-image: linear-gradient(-45deg, red, blue);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        border-radius: 20px;
        background-size: 200% auto;
        filter: blur(90px);
      }
      & .item {
        backdrop-filter: blur(50px);
        padding: 20px;
        border-radius: 20px;
        background-color: #01082488;
        text-align: center;
        & svg {
          font-size: 30px;
          background-color: #eee2;
          padding: 10px;
          border-radius: 10px;
        }
      }
    }
  }
  &.projects {
    & .title {
      /* margin-top: 100px; */
      text-align: center;
      font-size: 3em;
      font-family: "MuseoModerno", system-ui;
    }
    & .des {
      color: #eee5;
      text-align: center;
      max-width: 500px;
      margin: auto;
    }
    & .list {
      margin-top: 50px;
      & .item {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
        gap: 20px;
        & .images {
          max-width: 550px;
          max-height: 309px;
          /* background-image: linear-gradient(-45deg, #473bb4, #be24a9);
          padding: 40px; */
          text-align: center;
          border-radius: 20px;
          overflow: hidden;
          position: relative;

          & .overlay {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.4);
            top: 0;
            width: 100%;
            height: 100%;
          }
          & .buttons {
            position: absolute;
            display: flex;
            top: 9%;
            left: 83%;
            gap: 1rem;
            transform: translate(-50%, -50%);

            & a {
              font-size: 1rem;
              cursor: pointer;
              font-weight: bold;
              border: 1px solid white;
              padding: 0rem 0.5rem;
              border-radius: 15px;
              color: inherit;
              text-decoration: none;
              background-color: rgba(0, 0, 0, 0.4);
            }
            & a:hover {
              color: #e945e3;
            }
          }

          & img {
            border-radius: 10px;
            box-shadow: 0 20px 40px #010824;
            max-width: 100%;
          }
        }
        & .content {
          & h3 {
            font-size: 3em;
            margin: 0;
          }
          & .des {
            text-align: left;
            width: 100%;
          }
          & .mission {
            display: grid;
            grid-template-columns: 70px 1fr;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
            & div:nth-child(1) svg {
              background-color: #eee3;
              padding: 20px;
              font-size: 20px;
              border-radius: 15px;
            }
          }
        }
      }
      & .item:nth-child(2n) {
        grid-template-columns: 1fr 2fr;
        & .images {
          justify-self: end;
          grid-column-start: 2;
          grid-column-end: 3;
        }
        & .content {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
        }
      }
    }
  }
  &.contact {
    padding-bottom: 220px;
    & .title {
      text-align: center;
      font-size: 3em;
      font-family: "MuseoModerno", system-ui;
    }
    & .des {
      color: #eee5;
      text-align: center;
      max-width: 500px;
      margin: auto;
    }
    & .list {
      text-align: center;
      & .item {
        margin-top: 50px;
        & a{
          color: inherit;
        }
      }
    }
  }
}
.icon-bar {
  display: none;
}

@keyframes gradientAnimation {
  to {
    background-position: 200% center;
  }
}

@media screen and (max-width: 1023px) {
  section.home {
    & .content {
      & .name {
        font-size: 4em;
      }
    }
    & .avatar {
      & img {
        max-height: 500px;
      }
    }
  }
}
@media screen and (max-width: 921px) {
  section {
    padding: 20px;
    &.home {
      grid-template-columns: 1fr;
      padding-top: 70px;
      & .content {
        & .social {
          justify-content: center;
        }
        & .download {
          margin: auto;
          font-size: small;
        }
      }
      & .avatar {
        grid-row-start: 1;
      }
    }
    &.projects {
      & .list {
        & .item {
          grid-template-columns: 1fr;
          justify-items: center;
          & .images {
            & .buttons {
              gap: 0.7rem;

              & a {
                font-size: 0.8rem;
              }
            }
          }
          & .content {
            & h3 {
              font-size: 1.2em;
              margin-bottom: 1em;
            }
          }
        }
        & .item:nth-child(2n) {
          grid-template-columns: 1fr;
          & .content,
          .images {
            justify-self: center;
            grid-row-start: auto;
            grid-column-start: auto;
            grid-column-end: auto;
          }
        }
      }
    }
  }
  header {
    & nav {
      width: 80%;
      height: 100vh;
      position: fixed;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      inset: 0 auto 0 0;
      background-color: #eee;
      color: #0f1225;
      padding: 50px;
      box-sizing: border-box;
      font-weight: bold;
      left: -100%;
      transition: 0.5s;
    }
    & .icon-bar {
      display: block;
    }
    & nav.active {
      left: 0;
    }
  }
}

@media screen and (max-width: 510px) {
  section {
    &.projects {
      & .list {
        & .item {
          & .images {
            & .buttons {
              gap: 0.4rem;

              & a {
                font-size: 0.4rem;
              }
            }
          }
        }
      }
    }
  }
}
